$article-bg-color: #dce2e3;

.Articles-content {
    padding: 5% 10%;
}

.Article {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: left;
    padding: 5%;
    margin: 1em 1em 1em 1em;
    background-color: $article-bg-color;
}